.cls-test {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

[target-div="css-div"] {
  width: 200px;
  height: 200px;
  border: solid;
}

/* [target-div="css-div"] 의 자식 div */
[target-div="css-div"] > div{
  height: 50%;
}

/* [target-div="css-div"] 의 자식 div 중 첫번째 자식 */
[target-div="css-div"] > div:first-child{
  background-color: pink;
}


/* [target-div="css-div"] 의 자식 div 중 두번째 자식 */
[target-div="css-div"] > div:last-child{
  background-color: yellow;
}

.chatting {
  width: 360px;
  border: 1px solid;
  margin: 50px 20px;
}

#chatting-bg {
  background-color: rgb(178,199,217);
  width: 100%;
  height: 400px;
}